* {
    margin: 0;
    padding: 0;
}
body {
    background: #CDCDCD;
}

.header {
    line-height: 60px;
    background: #333;
    height: 60px;

}
.header-content {
    font-size: 24px;
    color: #fff;
    margin: 0 auto;
    width: 600px;
}

.header-input {
    outline: none;
    float: right;
    margin-top: 15px;
    line-height: 24px;
    border-radius: 5px;
    padding: 0 10px;
    width: 360px;
    cursor: pointer;
}
.undo-list {
    margin: 0 auto;
    width: 600px;
}
.undo-list-title {
    margin: 10px 0;
    line-height: 30px;
    font-size: 24px;
    font-weight: bold;
}
.undo-list-count {
    float: right;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    background: #e6e6e6;
}
.undo-list-content {
    list-style: none;
}
.undo-list-item {
    line-height: 32px;
    font-size: 16px;
    margin-bottom: 10px;
    background: #fff;
    border-left: 3px solid #629a9c;
    text-indent: 10px;
    border-radius: 3px;
}
.undo-list-delete {
    float: right;
    margin-top: 6px;
    margin-right: 6px;
    text-indent: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #e6e6e6;
    border-radius: 50%;
}
